Package: org.thebigboss.autodownloadflipswitchs
Name: Automatic Download Flipswitches
Depends: mobilesubstrate, com.a3tweaks.flipswitch, firmware (>= 7.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Toggles for automatic app downloads.
Maintainer: PoomSmart
Author: PoomSmart
Section: Addons (Flipswitch)